/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; 
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 1.45;
  letter-spacing: 1.5;
  color: #5f5f5f;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote {
  &:before, &:after {
    content: '';
    content: none; } }

q {
  &:before, &:after {
    content: '';
    content: none; } }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%;
  height: auto;
}


b{
  font-weight: bold;
}


//TEXT SIZE
.text-normal{
  font-size: 12px;
}
.text-small{
  font-size: 10px;
}

.text-medium{
  font-size: 14px;
}

.text-small-title{
  font-size: 16px;
}


//FONT WEIGHT
.text-bold{
  font-weight: bold;
}


//TEXT ALIGNMENT
.text-center{
  text-align: center;
}


//TEXT COLORS
.text-gray{
  color: #5f5f5f;
}

.text-green{
  color: green;
}

.text-black{
  color: #000;
}

//BOX SHAODW
.shadow-bottom{
    box-shadow: 0px 18px 20px -5px #d3d3d3;
}


//BORDER RADIUS
.br-3{
  border-radius: 3px;
}
.br-5{
  border-radius: 5px;
}
.br-10{
  border-radius: 10px;
}



//FLEX CLASS
.flex{
  display: flex;
}

.flex-column{
  flex-direction: column;
}
.justify-between{
  justify-content: space-between;
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}


//MARGIN TOP
.mt-10{
  margin-top: 10px;
}

.mt-20{
  margin-top: 20px;
}


.mt-30{
  margin-top: 30px;
}

.mt-40{
  margin-top: 40px;
}


//MARGIN RIGHT
.mr-10{
  margin-right: 10px;
}

.mr-20{
  margin-right: 20px;
}


.mr-30{
  margin-right: 30px;
}

.mr-40{
  margin-right: 40px;
}


//MARGIN BOTTOM
.mb-10{
  margin-bottom: 10px;
}

.mb-20{
  margin-bottom: 20px;
}


.mb-30{
  margin-bottom: 30px;
}

.mb-40{
  margin-bottom: 40px;
}


//MARGIN LEFT
.ml-10{
  margin-left: 10px;
}

.ml-20{
  margin-left: 20px;
}


.ml-30{
  margin-left: 30px;
}

.ml-40{
  margin-left: 40px;
}


//PADDING TOP
.pt-10{
  padding-top: 10px;
}

.pt-20{
  padding-top: 20px;
}


.pt-30{
  padding-top: 30px;
}

.pt-40{
  padding-top: 40px;
}


//PADDING RIGHT
.pr-10{
  padding-right: 10px;
}

.pr-20{
  padding-right: 20px;
}


.pr-30{
  padding-right: 30px;
}

.pr-40{
  padding-right: 40px;
}

//PADDING BOTTOM
.pb-10{
  padding-bottom: 10px;
}

.pb-20{
  padding-bottom: 20px;
}


.pb-30{
  padding-bottom: 30px;
}

.pb-40{
  padding-bottom: 40px;
}

//PADDING LEFT
.pl-10{
  padding-left: 10px;
}

.pl-20{
  padding-left: 20px;
}


.pl-30{
  padding-left: 30px;
}

.pl-40{
  padding-left: 40px;
}

//ANCHOR
.link-primary{
  display: inline-block;
  color: $primary-color;
  @extend .text-bold;
}


//BUTTON
.button{
  display: inline-block;
  margin:0;
  border: 0;
  @extend .br-3;
  &:focus,&:hover{
    outline-color: $primary-color;
  }
}
.button-primary{
  @extend .button;
  padding:15px 25px;
  background-color: $primary-color;
  color: $white-color;
  @extend .text-bold;
  @extend .br-3;
}

.button-bordered{
  @extend .button;
  padding:15px 25px;
  border:1px solid $primary-color;
  color: $primary-color;
  background-color: $white-color;
  @extend .text-bold;
  @extend .br-3;
}



//LINES
.border-bottom-1{
  border-bottom: 1px solid #f3f2f2;
}