$primary-color: #fa7659;
$white-color: #fff;

//TEXT COLOR
$text-primary: #fa7659;
$color-text: #5f5f5f;

//BORDER
$border-color: #f5f5f5;

@import "./base";
@import "./grid";
//ROUTES
@import "../routes/Menu/MenuList";

//VIEWS
@import "../views/ChooseType/ChooseType";
@import "../views/UserInfo/UserInfo";

//COMPONENTS
@import "../components/NavBar/Navbar";
@import "../components/Body/Body";
@import "../components/Banner/Banner";
@import "../components/TwoBlockLayout/TwoBlockLayout";
@import "../components/Card/Card";
@import "../components/Radio/Radio";
@import "../components/Button/Button";
@import "../components/Dropdown/Dropdown";
@import "../components/Tabs/Tabs";
@import "../components/Product/Product";    