.main-nav{
    &__list{
        min-height: 80px;
        max-width: 80%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__left{
            display: flex;
            align-items: center;
            &__logo{
                width: 35px;
                height: 35px;
                border-radius: 5px;
                margin-right: 15px;
            }
            &__name{
                @extend .text-bold;
            }
            &__address{
                @extend .text-gray;
            }
        }
        &__right{
            &__phone{
                @extend .text-bold;
            }
            &__time{
                @extend .text-gray;
                &__open-text{
                    @extend .text-green;
                    @extend .text-bold;
                }
            }
        }
    }
}